<p id="notice"><%= notice %></p>

<p>
  <strong>Frame:</strong>
  <%= @frame.frame %>
</p>

<p>
  <strong>First:</strong>
  <%= @frame.first %>
</p>

<p>
  <strong>Second:</strong>
  <%= @frame.second %>
</p>

<p>
  <strong>Third:</strong>
  <%= @frame.third %>
</p>

<p>
  <strong>Score:</strong>
  <%= @frame.score %>
</p>

<%= link_to 'Edit', edit_frame_path(@frame) %> |
<%= link_to 'Back', frames_path %>
